@mixin font-face($font-family, $url, $weight, $font-tyle) {
  @font-face {
    src:
      local($font-family),
      url(`/fonts/#{$url}.woff2`) format('woff2');
    font-family: $font-family;
    font-weight: $weight;
    font-style: $font-tyle;
    font-display: swap;
  }
}
