$bg-color: red;

// миксин - типо функция в js
@mixin absolute($value) {
  position: absolute;
  inset: 0;
  width: $value;
}

// шаблон
%bob {
  color: beige;
}

.body {
  background: #1f1f1f;

  @extend %bob;

  &__h1 { // короче вложенный элемент по классу 
    color: red;

    @include absolute(560px);
  }

  @media (max-width: 1000px) {
    color: blue;
  }
}
