<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <img
        loading="lazy"
        src="./assets/icons/features.jpg"
        width="585"
        height="651"
        ="Woman typing on laptop"
      />
      <div class="features__stats">
        <div class="features__stats-head">
          <h4 class="features__stats-title text-p-default">Statictic</h4>
          <img
            loading="lazy"
            src="./assets/icons/more-icon.svg"
            width="18"
            height="19"
            alt="Ellipsis icons"
          />
        </div>
        <div class="features__stats-item">
          <img
            class="features__stats-img"
            src="./assets/icons/features-total-income.svg"
            width="95"
            height="88"
            alt="Total income graphic"
          />
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Expanse</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$7.020</span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.7074 12.7072C14.3168 13.0977 13.6837 13.0977 13.2931 12.7072L10.0002 9.41427L6.70735 12.7072C6.31683 13.0977 5.68366 13.0977 5.29314 12.7072C4.90261 12.3166 4.90261 11.6835 5.29314 11.293L9.29314 7.29295C9.68366 6.90243 10.3168 6.90243 10.7074 7.29295L14.7074 11.293C15.0979 11.6835 15.0979 12.3166 14.7074 12.7072Z"
                    fill="#50CD89"
                  />
                </svg>
                10%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Expanse of this month compared to last month
            </p>
          </div>
        </div>
        <div class="features__stats-item">
          <img
            class="features__stats-img"
            src="./assets/icons/total-xuitol.svg"
            width="95"
            height="88"
            alt="Total expanse graphic"
          />
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Income</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$2.150</span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.29314 7.29302C5.68366 6.90249 6.31683 6.90249 6.70735 7.29302L10.0002 10.5859L13.2931 7.29302C13.6837 6.90249 14.3168 6.90249 14.7074 7.29302C15.0979 7.68354 15.0979 8.3167 14.7074 8.70723L10.7074 12.7072C10.3168 13.0978 9.68366 13.0978 9.29314 12.7072L5.29314 8.70723C4.90261 8.3167 4.90261 7.68354 5.29314 7.29302Z"
                    fill="#EB5757"
                  />
                </svg>
                15%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Income of this month compared to last month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__right">
      <h2 class="features__title heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="features__descr text-p-medium">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul class="features__list">
        <li class="features__item">
          Close more deals with single - page contact managment
        </li>
        <li class="features__item">
          Enjoy one-click calling, call scripts and voicemail automation
        </li>
        <li class="features__item">
          Take stages and milestones of your deals to keep the sales process an
          track
        </li>
      </ul>
    </div>
  </div>
</section>
